header, footer {
    width: 100%;
}

body {
    font-family: Helvetica;
}

#outline, #holder {
    margin-top: 10px;
}

#holder {
    overflow: hidden;
}

#add-rect {
    color: #FFFFFF;
    background-color: grey;
    border-radius: 3px;
    border: 0;
    padding: 10px 20px;
    margin: 5px 0;
    cursor: pointer;
}

.window {
    border: 1px solid black;
}

i {
    line-height: inherit; 
}

i.left {
    float: left;
    margin-right: 15px; 
}

i.right {
    float: right;
    margin-left: 15px;
}

i.tiny {
    font-size: 1rem;
}

i.small {
    font-size: 2rem;
}

i.medium {
    font-size: 4rem;
}

i.large {
    font-size: 6rem;
}

.material-icons {
    color:#666666;
}

.buttons {
    display: inline-block;
}