body {
	font-family: Helvetica;
}

#outline, #holder {
	margin-top: 10px;
}

#holder {
    overflow: hidden;
}

#add-rect {
  color: #FFFFFF;
  background-color: grey;
  border-radius: 3px;
  border: 0;
  padding: 10px 20px;
  margin: 5px 0;
  cursor: pointer;
}

.window {
  border: 1px solid black;
}
